@import "/node_modules/ion-rangeslider/css/ion.rangeSlider.min.css";

.television {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;

	@include media-breakpoint-up(md) {
		flex-direction: row;
		padding: 50px 20px;
	}
}

.television__tv-wrapper {
	display: block;
	position: relative;
	width: 200px;
	align-self: center;

	.img {
		width: 100%;
		height: 100%;
	}

	@include media-breakpoint-up(md) {
		flex-basis: 560px;
	}
}

.television__canvas {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(100% - 50px);
	max-height: calc(100% - 20px);
}

.television__constructor {
	flex-basis: 220px;
	font-size: 20px;
	text-align: center;

	@include media-breakpoint-up(md) {
		padding-right: 20px;
	}
}

.television__frame {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid $black;
	width: 100%;
	height: 100px;
	max-width: 200px;
	margin: 0 auto 8px;

	@include media-breakpoint-up(md) {
		height: 135px;
	}
}

.television__range{
	width: 100%;
	max-width: 300px;
	margin: 0 auto 10px;

	.irs--round {
		height: 20px;

		.irs-handle {
			border: none;
			background-color: $black;
			top: 50%;
			transform: translateY(-25%);
			width: 12px;
			height: 12px;
		}

		.irs-bar {
			top: 50%;
			height: 6px;
			background-color: $black;
		}
	}
	.irs {
		.irs {
			top: 50%;
			.irs-line {
				top: 0;
				height: 6px;
			}
		}
	}

}

.television__list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 250px;
	margin: 0 auto;

	.img {
		cursor: pointer;
		width: 30%;
		height: 30%;

		&:hover {
			background-color: $black;
		}
	}
}

.television__type-mustache {
	margin-bottom: 20px;
}


@include color-mode(dark) {
	.television__frame { border: 1px solid $white; }

	.television__range{
		.irs--round {
			.irs-handle { background-color: $white; }
			.irs-bar { background-color: $white; }
		}
	}
}