.modal-window {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	min-height: 100%;
	width: 100%;
	margin: 0;
	background-color: $white;

	transition: all 0.4s ease-in-out;
	transform: scale(0);
	pointer-events: none;

	&.show {
		transform: scale(1);
		pointer-events: initial;
	}

	@include media-breakpoint-up(sm) {
		min-height: 98%;
		width: 98%;
		margin: 0.5% 1% 1%;
	}
}
.modal-window__header {
	display: flex;
	justify-content: space-between;
	line-height: 1;
	background: url("../../../public/images/modal-window/header_bg.png");
	height: 36px;
	padding: 6px 6px;
	border-right: 1px solid $black;

	.img {
		cursor: pointer;
		width: 24px;
		height: 24px;
	}
}

.modal-window__content {
	position: relative;
	background: url("../../../public/images/window-header/header-bg.jpg");
	padding: 24px;
	font-size: 20px;
	line-height: 1;
	height: 100%;
	flex-grow: 1;

	@include media-breakpoint-up(md) {
		font-size: 32px;
	}
}

.modal-window__title {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 22px;
	background: rgb(238,238,238);
	padding: 0 4px;
	margin: -5px 0;
}

@include color-mode(dark) {
	.modal-window__header {
		background: url("../../../public/images/modal-window/header_bg_dark.png");
	}

	.modal-window__content {
		background: url("../../../public/images/window-header/header-bg_dark.png");
	}

	.modal-window__title {
		background: rgb(17,17,17);
	}
}