.window-header {
  background-image: url("../../../public/images/window-header/header-bg.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  min-height: 30px;
  padding: 2px 14px;
  border-bottom: 2px solid $black;

  @include media-breakpoint-up(sm) {
    font-size: 28px;
  }
}

.window-header__nav {
  display: flex;
  align-items: center;
  column-gap: 12px;

  .fi {
    display: block;
  }

  .a {
    padding: 0 6px;
  }

  & > .a:first-child{
    padding: 0;
    border-radius: 50%;
  }
}

.window-header__info {
  display: flex;
  font-size: 18px;

  .small {
    font-size: 14px;
    vertical-align: top;
  }

  @include media-breakpoint-up(sm) {
    font-size: 23px;
  }
}

.window-header__dropdown {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    background-color: $black;
    border-radius: 0;
    padding: 2px;
    width: max-content;
    min-width: auto;

    .a {
      display: block;
      height: 100%;
      font-size: 20px;
    }
  }
}

.window-header__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.window-header__date {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    display: inline-block;
    background-color: $black;
    height: 70%;
    width: 2px;
    margin: 0 5px;
  }
}

@include color-mode(dark) {
  .window-header {
    background-image: url("../../../public/images/window-header/header-bg_dark.png");
  }

  .window-header__date {
    &::after {
      background-color: $white;
    }
  }

  .window-header__dropdown {

    .dropdown-menu {
      background-color: $white;
    }
  }
}