.application {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 90px;

	&:hover {
		cursor: pointer;

		.application__icon {
			color: $black;
		}

		.application__title {
			span {
				color: $white;
				background-color: $black;
			}
		}
	}
}

.application__icon {
	margin-bottom: 20px;
	height: 65px;
	width: 65px;

	.img {
		width: 100%;
	}
}

.application__title {
	font-size: 26px;
	line-height: 0.8;
	text-align: center;

	span {
		padding: 0 10px;
		background-color: $white;
	}
}

@include color-mode(dark) {
	.application {
		&:hover {
			.application__icon {
				color: $white;
			}

			.application__title {
				span {
					color: $black;
					background-color: $white;
				}
			}
		}
	}

	.application__title {
		span {
			background-color: $black;
		}
	}
}