.container-xxl {
  height: 100%;
  display: flex;
}

.main-window {
  background-image: url("../../../public/images/main-window/main-bg.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 700px;
  max-width: 960px;
  margin: auto;
}

.main-window__inner {
  position: relative;
  flex-grow: 1;
  padding: 30px;
}

.main-window__applications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 16px;

  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 60px;
  }

  @include media-breakpoint-up(xl) {
    justify-content: space-between;
  }
}

.main-window__theme-button {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;

  @include media-breakpoint-up(sm) {
  }
}

.main-window__theme-bg {
    display: block;
    position: absolute;
    top: -50px;
    left: -150px;
    z-index: 0;
    pointer-events: none;
    background: url("../../../public/images/main-window/theme-title.png") no-repeat 100% / cover;
    width: 220px;
    height: 40px;
}

.main-window__theme-description {
    position: absolute;
    top: -50px;
    left: -128px;
    z-index: 1;
    pointer-events: none;
    font-size: 20px;
    font-family: $font-family-sans-serif;
    white-space: nowrap;
}

@include color-mode(dark) {
  .main-window {
    background-image: url("../../../public/images/main-window/main-bg_dark.jpg");
  }
  .main-window__theme-description {
    color: $white;
  }
  .main-window__theme-bg {
      background: url("../../../public/images/main-window/theme-title_dark.png") no-repeat 100% / cover;
  }
}