.container-xxl {
  height: 100%;
  display: flex;
}

.main-window {
  background-image: url("../../../public/images/main-window/main-bg.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 960px;
  margin: auto;
}

.main-window__inner {
  position: relative;
  flex-grow: 1;
  padding: 30px;
}

.main-window__applications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 30px;

  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
  }

  @include media-breakpoint-up(xl) {
    justify-content: space-between;
  }
}

.main-window__theme-button {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;

  &::before {
    content: 'Hello! Change the subject here';
    position: absolute;
    top: -50px;
    left: -128px;
    z-index: 1;
    pointer-events: none;
    font-size: 20px;
    font-family: $font-family-sans-serif;
    white-space: nowrap;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    left: -150px;
    z-index: 0;
    pointer-events: none;
    background: url("../../../public/images/main-window/theme-title.png") no-repeat 100% / cover;
    width: 220px;
    height: 40px;
  }
}

@include color-mode(dark) {
  .main-window {
    background-image: url("../../../public/images/main-window/main-bg_dark.jpg");
  }

  .main-window__theme-button {
    &::after {
      background: url("../../../public/images/main-window/theme-title_dark.png") no-repeat 100% / cover;
    }
  }
}