.container-xxl {
  height: 100%;
}

.main-window {
  background-image: url("../../../public/images/main-window/main-bg.jpg");
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  height: 100%;
}

.main-window__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;

  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
  }
  @include media-breakpoint-up(xl) {
    justify-content: space-between;
  }
}

.main-window__theme-button {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;

  &::before {
    content: 'Hello! Change the subject here';
    position: absolute;
    top: -50px;
    left: -128px;
    z-index: 1;
    pointer-events: none;
    font-size: 20px;
    font-family: $font-family-sans-serif;
    white-space: nowrap;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    left: -150px;
    z-index: 0;
    pointer-events: none;
    background: url("../../../public/images/main-window/theme-title.png") no-repeat 100% / cover;
    width: 220px;
    height: 40px;
  }
}